# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Node
node_modules/
package-lock.json

# Python
__pycache__/
*.pyc

# Secrets (never commit keys)
.env
secrets.*

# GitHub Actions
.github/workflows/*.secret

# Build
dist/
build/